body {
    background-image: ;
}

.pumpkin {
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url('images/pumpkins/pumpkin_whole.png');
}

#pumpkin-1 {
    left: 100px;
    top: 100px;
}

#pumpkin-2 {
    left: 100px;
    top: 100px;
}

#pumpkin-3 {
    left: 100px;
    top: 100px;
}

#pumpkin-4 {
    left: 100px;
    top: 100px;
}

#pumpkin-5 {
    left: 100px;
    top: 100px;
}

.monster {
    position: absolute;
    left: 100px;
    top: 200px;
}