body {
  background-image: url("../../images/background/BG1.jpg");
  background-size: 1000px 600px;
}

.switch {
  position: absolute;
  height: 100px;
  width: 75px;
  left: 75px;
  top: 40px;
  background-image: url("../../images/switch/switch-off.png");
  background-size: contain;
  background-position: center;
}

.switch {
	background-image: url("../../images/switch/switchON.png");
	position: absolute;
    height: 100px;
    width: 75px;
	left: 75px;
	top: 180px;
	background-size: 75px 100px;
	
	}

.pumpkin {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("../../images/pumpkins/pumpkin_whole.png");
  background-size: 100px 100px;
}

#pumpkin-1 {
  left: 100px;
  top: 390px;
}

#pumpkin-2 {
  left: 230px;
  top: 440px;
}

#pumpkin-3 {
  left: 400px;
  top: 440px;
}

#pumpkin-4 {
  left: 550px;
  top: 390px;
}

#pumpkin-5 {
  left: 720px;
  top: 440px;
}

.monster {
  height: 500px;
  width: 256px;
  position: absolute;
  left: 1000px;
  top: 50px;
}

#head {
  background-image: url("../../images/monster/head1.png");
  height: 500px;
  width: 256px;
}

#arm-left {
	background-image: url("../../images/monster/leftarm.png");
	height: 500px;
	width: 256px;
	position: absolute;
	top: 0px;

}

#arm-right {
	background-image: url("../../images/monster/rightarm.png");
	height: 500px;
	width: 256px;
	position: absolute;
	top: 0px;
	
}

#leg-left {
	background-image: url("../../images/monster/leftleg.png");
	height: 500px;
	width: 256px;
	position: absolute;
	top: 0px;
	
}

#leg-right {
	background-image: url("../../images/monster/rightleg.png");
	height: 500px;
	width: 256px;
	position: absolute;
	top: 0px;
	
}
